/* navbar.css */
.navbar-custom {
    background: linear-gradient(to right, #b2f2b8, #22d449); /* Degradado de verde claro a verde oscuro */
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 70px; /* Tamaño del logo */
    width: 70px;
    border-radius: 50%; /* Borde redondo */
    margin-right: 10px; /* Espacio entre el logo y el título */
}

.navbar-title {
    font-size: 20px;
    font-family: cursive; /* Letra cursiva */
    color: #000000;
}

.navbar-nav .nav-link {
    color: #000000; /* Color del texto */
    font-weight: bold;
    margin-right: 20px; /* Espaciado entre los elementos del menú */
    padding: 10px 15px; /* Padding para que el borde tenga espacio para moverse */
    position: relative;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ddd; /* Color del texto al pasar el ratón */
}

.navbar-nav .nav-item.active .nav-link {
    background-color: #000; /* Fondo negro para la sección activa */
    color: #fff; /* Letra blanca */
    border-radius: 10px; /* Borde redondo */
    transition: background-color 0.3s ease; /* Transición suave del fondo */
}

.navbar-nav {
    margin-left: auto; /* Empuja los elementos del menú a la derecha */
}

.navbar {
    padding: 1rem 2rem;
}
