/* src/components/Footer/footer.css */
.footer {
    width: 100%;
    background: linear-gradient(to right, #b2f2b8, #22d449);
    color: #000000; /* Color del texto */
    padding: 1rem 0;
    text-align: center;
    position: relative; /* Asegúrate de que no esté fijo */
    margin: 0; /* Elimina cualquier margen */
    box-sizing: border-box; /* Asegúrate de que el padding esté incluido en el ancho total */
}

.footer-content {
    max-width: 100%; /* Asegúrate de que el contenido ocupe el 100% del ancho del footer */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 0 1rem; /* Añade algo de padding para mejorar la presentación */
}

.footer a {
    color: #000000;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}
